.chat-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 54vh !important;
}

textarea {
    width: 100%;
}

footer {
    height: 8%;
}

#top {
    padding-top: 10px;
}

#cb {
    padding-left: 10px;
    padding-right: 10px;
}

/* .message{
    width: 90%;
}

.sub{
    padding: 0px 7px;
    width: 10px;
} */